/**
 * Search Form 
 */

.blog-search form input {
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    height: 50px;
    margin-bottom: 0;
    padding: 2px 60px 2px 20px;
    width: 100%;
}

.blog-search form input:focus {
    outline: none;
}

.blog-search form input::-webkit-input-placeholder {
    color: #999999;
    opacity: 1;
}

.blog-search form input::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.blog-search form {
    position: relative;
}

.blog-search form button {
    background-color: transparent;
    border: medium none;
    color: #666666;
    font-size: 16px;
    height: 50px;
    padding: 0 23px;
    position: absolute;
    right: 0px;
    transition: all .3s ease 0s;
    top: 0;
    cursor: pointer;
}

.blog-search form button:hover {
    color: #0052E8;
    outline: none;
}
/*Coomment Area*/
.consulte-comment-area {
    background-color: #eef1f3;
    padding: 80px 0 86px;
}

.comment-reply-title{
    font-size: 36px;
    font-weight: 700;
}
/*Comment form*/
.comments-area input[type="submit"]{
    min-height: 60px;
    letter-spacing: 0.25px;
    padding: 10px 28.96px;
    font-size: 14px;
    font-weight: 700;
    background: #0052E8;
    border-color: #0052E8;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: auto;
}
.comments-area input[type="submit"]:hover,.comments-area input[type="submit"]:focus {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    outline: none;
}

.input_half {
    width: 50%;
    float: left;
}

.input_half.left {
    padding-right: 15px;
}

.input_half.right {
    padding-left: 15px;
}

.comments-area form textarea {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #666666;
    font-size: 14px;
    height: 178px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 7px 21px;
    border-radius: 0;
}

.comments-area form input {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #666;
    font-size: 14px;
    height: 49px;
    letter-spacing: 1px;
    padding: 2px 21px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0;
}

.comments-area input[type="checkbox"] {
    height: auto;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.comments-area form input::-webkit-input-placeholder,
.comments-area form textarea::-webkit-input-placeholder {
    /* Chrome */
    color: #999999;
    opacity: 1;
}

.comments-area form input::-moz-placeholder,
.comments-area form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    opacity: 1;
}
.comments-area ol li.comment {
    margin-bottom: 20px;
}


/*blog layout*/
.consulte-single-blog{
width: 100%;    
}
.consulte-single-blog +.consulte-single-blog {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
.consulte-blog-content-area{
    display: flex;
    flex-wrap: wrap;
}
.consulte-blog-thumb {
    overflow: hidden;
    flex: 1;
}
.consulte-blog-content {
    flex: 2;
    padding-left: 20px;
}
.consulte-no-padding{
    padding: 0;
}
.consulte-blog-thumb img {
  width: 100%;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.consulte-blog-content-area:hover .consulte-blog-thumb img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.consulte-blog-meta-info{
    list-style: none;
    padding-left: 0;
}

.consulte-blog-content .entry-title {
    color: #000;
    line-height: 30px;
    letter-spacing: -0.25px;
    margin-bottom: 21px;
    word-break: break-word;
}
.consulte-blog-content >a, .consulte-category-list, .consulte-category-list a {
    color: #0052E8;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.consulte-blog-content >a:hover,.consulte-category-list>a:hover{
color:#000000;
}
.consulte-category-list{
    margin-bottom: 10px;
}
a.consulte-read_more_btn {
    margin-top: 20px;
    margin-bottom: 0;
}
.consulte-blog-meta-info li{
    font-size: 14px;
    display: inline-block;
}
.consulte-blog-meta-info li+li {
    margin-left: 10px;
}
.consulte-blog-meta-info li a{
    text-transform: capitalize;
}
.consulte-excerpt {
    margin-top: 15px;
    overflow: hidden;
}
/** 
* Sticky Post and Template
*/

.type-post.tag-sticky-2 .consulte-blog-content-area, .type-post.sticky .consulte-blog-content-area {
    border: 1px solid #0052E8;
    position: relative;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.type-post.tag-sticky-2 .consulte-blog-content:before, .type-post.sticky .consulte-blog-content:before {
    content: "\f003";
    left: 0;
    top: 0;
    font-family: IcoFont;
    font-size: 25px;
    position: absolute;
    color: #0052E8;
    line-height: 1.8;
    transform: rotate(-33deg);
}


/**
* Pagination
*/
.consulte-blog-pagination {
    margin-top: 40px;
}
.post-pagination .nav-links>ul {
    padding-left: 0;
    padding-right: 0;
    margin-left: -7px;
    margin-right: -7px;
}

.post-pagination .nav-links>ul>li,
.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a {
    display: inline-block;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 0px;
}

.post-pagination .nav-links>ul>li>a,
.post-pagination .nav-links>ul>li>span,
.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a,.post-nav-links span, .post-nav-links a{
    border: 0;
    border-radius: 50px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    line-height: 34px;
    text-align: center;
    min-width: 25px;
    color: #999999;
}

.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a {
    text-decoration: none;
    display: inline-block;
}

.post-pagination .nav-links>ul>li>span.current,
.post-pagination .nav-links>ul>li:hover a,
.pagination>a:hover,
.page-links>span:not(.page-links-title):hover,
.page-links>a:hover {
    color: #373b3e;
    border-color: #373b3e;
}
.desc.fix {
    margin-top: 20px;
}
.post-nav-links span,.post-nav-links a{
    display: inline-block;
}
.post-nav-links{
    margin-top: 5px;
}
/*Blog Slide bar*/
.consulte-sidebar-space {
    padding-left: 80px;
}
.consulte-sidebar-widget + .consulte-sidebar-widget{
    margin-top: 40px;
}
.consulte-sidebar-widget ul{
    list-style: none;
}

/**
* Widget List style
*/
.consulte-sidebar-widget-title {
    margin-bottom: 30px;
}
.widget-area .consulte-sidebar-widget>ul,
.widget_nav_menu .menu {
    padding: 0;
}

.widget_categories.consulte-sidebar-widget ul li,
.widget_archive.consulte-sidebar-widget ul li {
    text-align: right;
    color: #232323;
    overflow: hidden;
}

.widget_categories.consulte-sidebar-widget ul li a,
.widget_archive.consulte-sidebar-widget ul li a {
    display: block;
    float: left;
    text-align: left;
}

.consulte-sidebar-widget:not(.widget_ruth_author_about_widget) ul li {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.consulte-sidebar-widget.widget_Ruthrecent_post ul li {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}
.consulte-sidebar-widget ul li a {
    color: #232323;
}
.consulte-sidebar-widget ul li:hover >a {
    color: #0052E8;
}

.consulte-sidebar-widget ul li ul.children li:first-child,
.consulte-sidebar-widget ul li ul.sub-menu li:first-child {
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 8px;
}
.consulte-sidebar-widget ul li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.widget_ruth_recent_post ul li {
    display: flex;
}

.widget_ruth_recent_post ul li .post-text {
    padding-left: 10px;
}


/**
* Calendar Widget
*/

.widget_calendar #wp-calendar {
    width: 100%;
    border: 1px solid #ededed;
}

.widget_calendar caption,
.widget_calendar tfoot td {
    font-weight: 600;
    padding: 10px 15px;
    color: #000;
}

.widget_calendar caption {
    border: 1px solid #ededed;
    border-bottom: none;
    caption-side: top;
}

.widget_calendar tfoot {
    border-top: 1px solid #ededed;
}

.widget_calendar thead td,
.widget_calendar thead th,
.widget_calendar tbody td,
.widget_calendar tbody th {
    text-align: center;
    padding: 5px;
}

.widget_calendar thead th {
    color: #000;
    font-weight: 600;
}

.widget_calendar tbody td#today {
    background: rgba(0, 0, 0, 0.05);
    color: #0052E8;
}


/**
* Select
*/

.widget-area .consulte-sidebar-widget select {
    width: 100%;
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: #fff;
    text-indent: 10px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 10px 0;
}

.widget-area .consulte-sidebar-widget select:focus,
.widget-area .consulte-sidebar-widget select:active,
.widget-area .consulte-sidebar-widget select:hover {
    outline: none;
    -webkit-box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1);
    color: #0052E8;
}
/*Tag Cloud*/
.tagcloud>a, .wp-block-tag-cloud a {
    background-color: transparent;
    border-radius: 0;
    color: #999999;
    display: inline-block;
    font-size: 14px!important;
    font-weight: 400;
    letter-spacing: 0.148px;
    line-height: 1;
    padding: 11px 14px;
    margin-right: 5px;
    margin-bottom: 8px;
    border: 1px solid #d7d7d7;
}

.tagcloud>a:hover,.wp-block-tag-cloud a:hover {
    background-color: #0052E8;
    color: #fff;
    border-color: #0052E8;
}

/*Blog details page*/
.single-blog-area .entry-header {
    margin-bottom: 30px;
}
.consulte-post-thumbnail{
    margin-bottom: 25px;
}
h1.entry-title {
    word-wrap: break-word;
}
.single-blog-area .consulte-blog-meta-info{
    margin-bottom: 20px;
}
.single-blog-area .tagcloud{
    margin-top: 40px;
}

/*Next Prev Button*/
.next-prev {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #e7e7e7;
    margin-top: 60px;
}

.next-prev a {
    background-color: #f6f6f6;
    border-radius: 0px;
    color: #666;
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px;
    text-transform: capitalize;
}
.next-prev a i {
    color: #666;
    transition: all .3s ease 0s;
}

.next-prev a.prev-btn i {
    padding-right: 5px;
}

.next-prev a.next-btn i {
    padding-left: 5px;
}
.next-prev a:hover {
    background-color: #0052E8;
    color: #fff;
}

.next-prev a:hover i {
    color: #fff;
}

a.next-btn {
    float: right;
}

/*Related Post*/
.consulte-related-post{
    margin-top: 40px;
}
.consulte-related-post img{
    width: 100%;
    margin-bottom: 30px;
}
.consulte-related-post h3{
    font-weight: 400;
}
.consulte-related-post h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.single-blog-area .tagcloud {
    margin-bottom: 0px;
    padding-bottom: 0;
    padding-top: 0px;
}
/*Blog comment*/
.comments-area,.comment-respond{
    margin-top: 40px;
}
.comments-title {
    margin-bottom: 40px;
}
.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond input[type="url"],
.comment-respond input[type="password"],
.comment-respond input[type="search"],
.comment-respond input[type="search"],
.comment-respond input[type="number"]{
    width: 100%;
}
ol.comment-list {
    list-style: none;
    padding-left: 0;
}
ol.comment-list .comment {
    list-style: none;
}
div#comments.comments-area .comment-meta {
    line-height: 1.6;
}
.comments-area form textarea:focus {
    outline: none;
}
.comment-meta .says {
    display: none;
}
/* Comment Form */ 
.comments-area .comment-title {
  color: #333333;
  font-weight: 700;
  word-break: break-word;
  line-height: 1.3;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 28px;
}
ol.comment-list {
  list-style: none;
  padding-left: 0;
}
ol.comment-list .comment {
  list-style: none;
}
.blog-comment, .leave-comment {
  margin-top: 50px;
}
.blog-comment, .leave-comment {
  margin-top: 0;
}
.single-comment {
  margin-bottom: 30px;
  overflow: hidden;
}
.parent-comment {
  border-bottom: 0 none;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
}
.single-comment .image, .comment-author img {
  width: 80px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.single-comment .image img {
  width: 100%;
  border-radius: 50%;
}
.comment-text {
  padding-left: 110px;
}
div#comments.comments-area .comment-meta {
  line-height: 1.6;
}
.comment-meta.commentmetadata {
  margin-bottom: 10px;
}
.comment-meta b {
  display: block;
}
.comment-text .author-name, .comment-text a.url {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.comment-text > p {
  margin-bottom: 0;
  line-height: 26px;
  word-break: break-word;
}
.reply {
    text-align: right;
    padding-right: 30px;
}
.comment-reply-title small {
    font-size: 80%;
    margin-left: 15px;
    color: #0052E8;
}
.post-password-form input[type="password"] {
    border-radius: 4px;
    height: 50px;
    padding: 10px;
}

/*Block Search*/
.post-password-form input[type="submit"] {
    word-break: normal;
    height: 50px;
    width: 110px;
    background: #0052E8;
    color: #fff;
    border: 1px solid #0052E8;
    border-radius:3px;
    font-size: 15px;
    position: relative;
    top: 1px;
}
.post-password-form input[type="submit"]:hover{
    background: #000000;
    border-color: #000000;
}

/** 
* Post Format Quote 
*/

blockquote {
    background: #0052E8 none repeat scroll 0 0;
    border: 0 none;
    margin: 0;
    padding: 95px 50px 70px;
    transition: all 0.3s ease-out 0s;
    position: relative;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 15px;
}

blockquote *:not(code) {
    color: #fff;
}

blockquote p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
}

blockquote a {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
}

blockquote a:hover {
    color: inherit;
    text-decoration: none;
}

blockquote::before {
    content: "\efcd";
    display: block;
    font-family: "IcoFont";
    font-size: 24px;
    position: absolute;
    left: 50px;
    top: 60px;
    color: #fff;
}

blockquote footer {
    font-size: 14px;
    font-weight: 600;
}

blockquote cite {
    margin-top: 15px;
    display: inline-block;
}

blockquote cite a:before {
    content: '\2014 \00A0';
}

blockquote cite a {
    color: #fff;
    text-decoration: none;
}

blockquote cite a:hover {
    color: #444;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   .consulte-sidebar-space {
    padding-left: 30px;
} 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.consulte-sidebar-space {
    padding-left: 15px;
    margin-bottom: 40px;
}
.single-blog-area .entry-header h1,.consulte-related-post h2{
    font-size: 30px;
}
.comment-reply-title {
    font-size: 30px;
}
}

@media only screen and (max-width: 767px) {
.comment-reply-title {
    font-size: 24px;
    margin-bottom: 5px;
}
.comments-title {
    margin-bottom:30px;
    font-size: 25px;
}
.consulte-sidebar-space {
    padding-left: 15px;
     margin-bottom: 40px;
}
.single-blog-area .entry-header h1,.consulte-related-post h2{
    font-size: 24px;
}
.single-blog-area .entry-header{
margin-bottom: 15px;
}
}
/*ress Css*/
.widget_rss .rsswidget {
    display: inline-block;
}
.widget_rss li a {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    font-weight: 700;
}
.widget_rss li+li{
    margin-top: 10px;
}